<!DOCTYPE html>
<html>
<head>
  <title>Toy Town</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="normalize.css" />
<!--   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
  <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
</head>
<body>
	<nav>
		<%= link_to image_tag("toytown.jpg", :alt=>"Toy Town", :class => "main_logo"), '/' %>
		<div class='login-section'>
			<% if !current_user %> 
				<%= link_to 'Sign in with Twitter', '/auth/twitter' %>
			<%end%>
			<% if current_user %> 
				<p class="navbar-text navbar-right">Signed in as <%= current_user.name %></p>
			<%end%>
			<% if current_user %> 
				<%= link_to 'Log out with Twitter', signout_path %>
			<%end%>
		</div>
		<div class="nav">
			<ul>
				<li><%= link_to 'Popular Toys', popular_toys_path %></li>
				<li><%= link_to 'Whats New', whatsnew_path %></li>
				<li><%= link_to 'Visit Us', visit_path %></li>
				<% if current_user %> 
					<li><%= link_to 'Wishlist', wishlists_path %></li>
				<%end%>
			</ul>
		</div>
	</nav>

<%= yield %>

</body>
</html>
